@media screen and (max-width: 480px) {
    .logo {
        max-width: 40px;
        
    }
    .logo-link {
        align-self: flex-start;
    }

    .page-header {
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
    .nav-button {
        display: block;
    }
    #search button {
        display: none;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        width: 100%;
        transition: max-height 0.9s;
        flex-wrap: nowrap;
        position: absolute; 
        top: 100%;
        background-color: var(--murrey);
        z-index: 999;
    }

    #main.open {
        max-height: 50vh; 
    }
    #search {
        min-width: 50px;
        /* max-width: 170px; */
        flex: 1;
    }
    #user-nav a:nth-child(1) {
        display: none;
        
    }
    .navigation {
        gap: 5px;
    }
    #search input {
        max-width: 100%;
    }
    .main-content {
        max-width: 100vw;
        
    }
    .card  {
        min-width: 30vw;
        flex-shrink: 0;
        width: 300px;
    }
    .card-container {
        width: 170vw;
    }
    .scrollbox {
        overflow-x: scroll;
    }
    .card-container.contact {
        min-width: auto;
        flex-wrap: wrap;
    }
    .card-container.contact .card {
        min-width: 300px;
    }
} 