:root {
    --vivid-sky-blue: hsla(191, 85%, 52%, 1);
    --columbia-blue: hsla(199, 53%, 79%, 1);
    --mountbatten-pink: hsla(327, 27%, 57%, 1);
    --murrey: hsla(331, 62%, 34%, 1);
    --chocolate-cosmos: hsla(359, 56%, 23%, 1);
    color-scheme: light dark;
}
body {
    background-color: var(--mountbatten-pink);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--vivid-sky-blue);
    text-align: left ;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
h1 {
    text-align: center;
}
a {
    text-align: left;

}
a:link {
    color: blue;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}
a:active {
    color: purple;
}
/* p {
    color: rgb(238, 10, 10);
    text-align: center;
    font-size: 30px;


} */
img {
    max-width: 100%;
}
home image {
    width: 800px;
}
about image {
    width: 700px;

}
/* header for page */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--murrey);
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;

}
.logo {
    max-width: 100px;
    min-width: 40px;
    padding: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.navigation a {
    color: black;   
    text-decoration: none;
    padding: 10px; 
    font-size: 24px
}
.navigation a:hover {
    color: var(--columbia-blue)
}

.nav-button {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-style: solid;
    border-color: var(--mountbatten-pink);
    border-radius: 5px;
    display: none;

}
.nav-button img {
    width: 40px;
}

#search {
    display: flex;
    flex-direction: row;
    min-width: 50px;
    max-width: 100%;

}

#search input {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
    flex: 1;
}

#search button {
    padding: 10px;
    border: solid 1px;
    background-color: pink;
    border-radius: 0px 5px 5px 0px;
}
#main {
    display: flex;
    
}

.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

/* --------------- carousel ---------------- */
.slide {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: white;
    background-size: cover;
    background-position: center;



}
.slide h2 {
    font-size: 3.5em;
    text-shadow: -2px 0px 5px black;
}
.slide button {
    padding: 10px;
    background-color: var(--columbia-blue);
    min-width: 150px;
    border: solid 1px var(--mountbatten-pink);
    border-radius: 8px;
}

.slide:nth-child(1) {
    background-image: url("/images/Slider/halloween7.jpg")
    
}

.slide:nth-child(2) {
    background-image: url("/images/Slider/new-shoes.jpg")
}

.slide:nth-child(3) {
    background-image: url("/images/Slider/black-friday-shoes.webp")
}

.slide:nth-child(4) {
    background-image: url("/images/Slider/trending-shoes.jpg")
}

nav a {
    text-decoration: none;
}
.main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--murrey);
    padding: 20px 30px;
    
}
.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-nav a, .social-nav a, .legal-nav a {
    color: white
}
.social-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 120%;
    
}

.legal-nav {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    gap: 20px;
    padding: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;

}

.card img {
    max-width: 100%;
}
.card-content {
    padding: 15px;
}
.card {
    flex: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.card button {
    min-width: 100%;
    padding: 12px;
    border: 1px solid blue;
    border-radius: 5px;
}

.main-content {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}

.banner2 {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( to right, blue, white, red);
    background: radial-gradient(circle, blue, white, red);
    margin-top: 1em;
}

.contact-form {
    display: flex;
    flex-direction: column;

}

.contact-form input {
    margin-bottom: 0.5em
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact-form button {
    min-width: auto;
}

